In [1]:
import numpy as np
import pandas as pd
from warnings import filterwarnings
filterwarnings("ignore")
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 20)

In [2]:
train_inpatient = pd.read_csv("../data/Train_Inpatientdata-1542865627584.csv")
train_beneficiary = pd.read_csv("../data/Train_Beneficiarydata-1542865627584.csv")
train_outpatient = pd.read_csv("../data/Train_Outpatientdata-1542865627584.csv")
train_provider = pd.read_csv("../data/Train-1542865627584.csv")

## Beneficiary Data Processing

In [7]:
train_beneficiary.loc[:, train_beneficiary.columns.str.contains('ChronicCond_')] = \
train_beneficiary.filter(like='ChronicCond_').replace({1: 1, 2: 0})
train_beneficiary = pd.concat([train_beneficiary,
 pd.get_dummies(train_beneficiary['Gender'].map({1: 'Male', 2: 'Female'}), prefix='Gender'),
 pd.get_dummies(train_beneficiary['Race'].map({1: 'White', 2: 'Black', 3: 'Other', 4: 'Unknown', 5: 'Hispanic'}), prefix='Race')], axis=1)
train_beneficiary['RenalDiseaseIndicator'] = train_beneficiary['RenalDiseaseIndicator'].map({'0':0,'Y':1})

## Feature Creation

In [8]:
train_inpatient['Is_Inpatient'] = True
train_inpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,Is_Inpatient
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,True
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,True
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,True

In [9]:
train_outpatient['Is_Outpatient'] = True
train_outpatient.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode,Is_Outpatient
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409,True
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380,True
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,True
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,True
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,30000,72887,4280,7197,V4577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947,True

In [10]:
patient_data = pd.concat([train_inpatient, train_outpatient])

In [11]:
patient_data

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,Is_Inpatient,Is_Outpatient
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,True,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,True,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517732,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,NaN,NaN,0.0,NaN,NaN,2163,V4575,53190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
517733,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,NaN,NaN,0.0,NaN,NaN,07041,5781,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
517734,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,NaN,NaN,0.0,NaN,NaN,V570,78079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
517735,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
517736,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,NaN,NaN,0.0,NaN,NaN,78900,78609,4280,71946,3310,75311,2724,V103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [12]:
for i in ['ClaimStartDt','ClaimEndDt','AdmissionDt','DischargeDt']:
    patient_data[i] = pd.to_datetime(patient_data[i])

In [13]:
patient_data['billing_before_admission'] = (patient_data['ClaimStartDt'] - patient_data['AdmissionDt']).dt.days < 0            
patient_data['billing_after_discharge'] = (patient_data['ClaimEndDt'] - patient_data['DischargeDt']).dt.days > 0

In [15]:
top_diagnosis_code = patient_data.groupby(['ClmAdmitDiagnosisCode'])['ClaimID'].count().reset_index().sort_values(by='ClaimID', ascending=False).head(20)['ClmAdmitDiagnosisCode'].unique()

In [18]:
pd.DataFrame(top_diagnosis_code,columns=['ClmAdmitDiagnosisCode']).to_csv("../data/top_diagnosis_code.csv",index=False)

In [19]:
patient_data['top_diagnosis_code'] = np.where(patient_data['ClmAdmitDiagnosisCode'].isin(top_diagnosis_code),1,0)

In [20]:
patient_data['hospital_stay_days'] = (patient_data['DischargeDt'] - patient_data['AdmissionDt']).dt.days + 1
patient_data['num_diagnoses'] =patient_data.filter(like='ClmDiagnosisCode_').notna().sum(axis=1)
patient_data['num_procedures'] =patient_data.filter(like='ClmProcedureCode_').notna().sum(axis=1)

In [21]:
patient_data['claim_duration_days'] = (patient_data['ClaimEndDt'] - patient_data['ClaimStartDt']).dt.days + 1
patient_data['num_of_physicians'] = patient_data.filter(like='Physician').notna().sum(axis=1)
# Top 20 for each role separately
top_20_attending = patient_data['AttendingPhysician'].value_counts().head(20).index
top_20_operating = patient_data['OperatingPhysician'].value_counts().head(20).index

# Binary columns
patient_data['is_top20_attending'] = patient_data['AttendingPhysician'].isin(top_20_attending).astype(int)
patient_data['is_top20_operating'] = patient_data['OperatingPhysician'].isin(top_20_operating).astype(int)
patient_data['stay_vs_claim_diff'] = patient_data['hospital_stay_days'] - patient_data['claim_duration_days']

In [24]:
pd.DataFrame(top_20_attending,columns=['AttendingPhysician']).to_csv("../data/top_attending_physician.csv",index=False)
pd.DataFrame(top_20_operating,columns=['OperatingPhysician']).to_csv("../data/top_operating_physician.csv",index=False)

In [51]:
patient_data = patient_data.merge(train_beneficiary,on='BeneID',how='left')
patient_data['DOB'] = pd.to_datetime(patient_data['DOB'])
patient_data['Age_at_Claim'] = ((pd.to_datetime(patient_data['ClaimStartDt']) - pd.to_datetime(patient_data['DOB'])).dt.days / 365.25).astype(int)

In [52]:
patient_data.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,Is_Inpatient,Is_Outpatient,billing_before_admission,billing_after_discharge,top_diagnosis_code,hospital_stay_days,num_diagnoses,num_procedures,claim_duration_days,num_of_physicians,is_top20_attending,is_top20_operating,stay_vs_claim_diff,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Gender_Female,Gender_Male,Race_Black,Race_Hispanic,Race_Other,Race_White,Age_at_Claim
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,False,0,7.0,9,0,7,1,0,0,0.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,0,1,0,0,1,1,1,0,1,1,36000,3204,60,70,False,True,False,False,False,True,66
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,True,NaN,False,False,0,3.0,3,1,3,2,0,0,0.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,0,1,0,0,1,1,1,0,1,1,36000,3204,60,70,False,True,False,False,False,True,66
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,False,False,0,4.0,6,0,4,2,0,0,0.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,0,1,0,0,1,1,1,0,1,1,36000,3204,60,70,False,True,False,False,False,True,66
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,True,NaN,False,False,0,9.0,9,1,9,3,0,0,0.0,1914-03-01,NaN,2,2,0,1,360,12,12,0,1,1,0,0,1,1,0,0,1,1,5000,1068,250,320,True,False,True,False,False,False,94
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,True,NaN,False,False,0,18.0,9,1,18,2,0,0,0.0,1938-04-01,NaN,2,1,1,45,780,12,12,0,1,1,0,1,1,0,1,0,0,0,21260,2136,120,100,True,False,False,False,False,True,71

In [53]:
patient_data['Is_Dead'] = np.where(patient_data['DOD'].isna(), False, True)

In [54]:
for i in ['hospital_stay_days','stay_vs_claim_diff']:
    patient_data[i] = patient_data[i].fillna(0)
for i in ['Is_Inpatient','Is_Outpatient']:
    patient_data[i] = patient_data[i].fillna(False)

In [55]:
features = patient_data.groupby(['Provider']).agg(
    count_unique_beneficiary = ('BeneID','nunique'),
    count_unique_claims = ('ClaimID','count'),
    count_dead_beneficiary = ('Is_Dead','sum'),
    count_unique_states = ('State','nunique'),
    count_unique_counties = ('County','nunique'),
    mean_hospital_stay_days = ('hospital_stay_days', 'mean'),
    max_hospital_stay_days = ('hospital_stay_days', 'max'),
    total_top_diagnosis_codes = ('top_diagnosis_code','sum'),
    mean_total_diagnosis =('num_diagnoses','mean'),
    mean_total_procedures = ('num_procedures','mean'),
    mean_number_of_physicians = ('num_of_physicians','mean'),
    mean_difference_stay_vs_claim = ('stay_vs_claim_diff','mean'),
    patients_under_top_attending_physician = ('is_top20_attending','sum'),
    patients_under_top_operating_physician = ('is_top20_operating','sum'),
    mean_claim_amount = ('InscClaimAmtReimbursed','mean'),
    total_claim_amount = ('InscClaimAmtReimbursed','sum'),
    std_claim_amount = ('InscClaimAmtReimbursed','std'),
    mean_age = ('Age_at_Claim','mean'),
    count_of_males = ('Gender_Male','sum'),
    count_of_females = ('Gender_Female','sum'),
    count_of_black_people = ('Race_Black','sum'),
    count_of_white_people = ('Race_White','sum'),
    count_of_hispanic_people = ('Race_Hispanic','sum'),
    count_of_other_people = ('Race_Other','sum'),
    count_alzheimer = ('ChronicCond_Alzheimer', 'sum'),
    count_heartfailure = ('ChronicCond_Heartfailure', 'sum'),
    count_kidneydisease = ('ChronicCond_KidneyDisease', 'sum'),
    count_cancer = ('ChronicCond_Cancer', 'sum'),
    count_obstrpulmonary = ('ChronicCond_ObstrPulmonary', 'sum'),
    count_depression = ('ChronicCond_Depression', 'sum'),
    count_diabetes = ('ChronicCond_Diabetes', 'sum'),
    count_ischemicheart = ('ChronicCond_IschemicHeart', 'sum'),
    count_osteoporasis = ('ChronicCond_Osteoporasis', 'sum'),
    count_rheumatoidarthritis = ('ChronicCond_rheumatoidarthritis', 'sum'),
    count_stroke = ('ChronicCond_stroke', 'sum'), 
    count_renal_disease = ('RenalDiseaseIndicator', 'sum'),   
    mean_annual_inpatient_reimbursement = ('IPAnnualReimbursementAmt','mean'),
    mean_annual_inpatient_deductible = ('IPAnnualDeductibleAmt','mean'),
    mean_annual_outpatient_reimbursement = ('OPAnnualReimbursementAmt','mean'),
    mean_annual_outpatient_deductible = ('OPAnnualDeductibleAmt','mean'),
    count_inpatient = ('Is_Inpatient','sum'),
    count_outpatient = ('Is_Outpatient','sum')
).reset_index()

In [56]:
features['claims_per_bene'] = features['count_unique_claims'] / features['count_unique_beneficiary']

In [57]:
train_provider = train_provider.merge(features, on="Provider", how="left")

In [58]:
train_provider.head()

,Provider,PotentialFraud,count_unique_beneficiary,count_unique_claims,count_dead_beneficiary,count_unique_states,count_unique_counties,mean_hospital_stay_days,max_hospital_stay_days,total_top_diagnosis_codes,mean_total_diagnosis,mean_total_procedures,mean_number_of_physicians,mean_difference_stay_vs_claim,patients_under_top_attending_physician,patients_under_top_operating_physician,mean_claim_amount,total_claim_amount,std_claim_amount,mean_age,count_of_males,count_of_females,count_of_black_people,count_of_white_people,count_of_hispanic_people,count_of_other_people,count_alzheimer,count_heartfailure,count_kidneydisease,count_cancer,count_obstrpulmonary,count_depression,count_diabetes,count_ischemicheart,count_osteoporasis,count_rheumatoidarthritis,count_stroke,count_renal_disease,mean_annual_inpatient_reimbursement,mean_annual_inpatient_deductible,mean_annual_outpatient_reimbursement,mean_annual_outpatient_deductible,count_inpatient,count_outpatient,claims_per_bene
0,PRV51001,No,24,25,0,1,7,1.200000,15.0,3,3.200000,0.120000,1.600000,0.0,0,0,4185.600000,104640,10796.091144,77.880000,9,16,4,21,0,0,15,19,17,5,10,9,21,23,6,8,6,8,17606.000000,897.120000,2615.200000,463.920000,5,20,1.041667
1,PRV51003,Yes,117,132,1,3,23,2.893939,28.0,26,5.250000,0.363636,1.530303,0.0,0,0,4588.409091,605670,7309.794729,69.083333,54,78,24,107,1,0,56,80,64,10,41,54,100,112,33,38,12,29,7568.181818,931.424242,2678.181818,737.121212,62,70,1.128205
2,PRV51004,No,138,149,1,9,28,0.000000,0.0,7,2.583893,0.000000,1.604027,0.0,0,0,350.134228,52170,689.963754,71.261745,46,103,24,120,0,5,64,88,50,16,41,63,105,108,49,46,17,23,4351.879195,434.953020,2194.899329,622.751678,0,149,1.079710
3,PRV51005,Yes,495,1165,4,4,26,0.000000,0.0,82,2.588841,0.000000,1.599142,0.0,0,0,241.124464,280910,491.556392,69.526180,511,654,262,893,0,10,426,680,507,165,295,485,799,895,344,331,124,259,3623.991416,379.162232,2109.733906,636.328755,0,1165,2.353535
4,PRV51007,No,58,72,1,2,6,0.263889,8.0,4,2.986111,0.013889,1.527778,0.0,0,0,468.194444,33710,1433.769116,68.305556,34,38,14,58,0,0,26,40,22,12,16,29,49,51,21,22,12,11,3050.000000,445.000000,1729.722222,469.722222,3,69,1.241379

In [59]:
train_provider.isna().sum().reset_index().rename(columns={"index": "feature", 0: "missing_values"}).sort_values("missing_values", ascending=False)

                                 feature  missing_values
18                      std_claim_amount             240
1                         PotentialFraud               0
2               count_unique_beneficiary               0
3                    count_unique_claims               0
0                               Provider               0
..                                   ...             ...
40  mean_annual_outpatient_reimbursement               0
41     mean_annual_outpatient_deductible               0
42                       count_inpatient               0
43                      count_outpatient               0
44                       claims_per_bene               0

[45 rows x 2 columns]

In [60]:
train_provider['std_claim_amount'] = train_provider['std_claim_amount'].fillna(0)

In [61]:
train_provider['PotentialFraud'] = train_provider['PotentialFraud'].map({"No": 0, "Yes": 1})

In [76]:
train_provider.groupby(['PotentialFraud']).agg(
    mean_count_unique_states=('count_unique_states','mean'),
    mean_count_unique_counties=('count_unique_counties','mean'),
    mean_count_unique_claims=('count_unique_claims','mean'),
    mean_count_unique_beneficiaries=('count_unique_beneficiary','mean'),
    mean_claim_amount=('mean_claim_amount','mean'),
    mean_beneficiary_age=('mean_age','mean')
)

,mean_count_unique_states,mean_count_unique_counties,mean_count_unique_claims,mean_count_unique_beneficiaries,mean_claim_amount,mean_beneficiary_age
PotentialFraud,,,,,,
0,2.283646,7.537520,70.435359,49.110318,1523.780804,72.749569
1,5.379447,21.249012,420.545455,242.021739,3842.795104,72.795673

In [66]:
train_provider.head()

,Provider,PotentialFraud,count_unique_beneficiary,count_unique_claims,count_dead_beneficiary,count_unique_states,count_unique_counties,mean_hospital_stay_days,max_hospital_stay_days,total_top_diagnosis_codes,mean_total_diagnosis,mean_total_procedures,mean_number_of_physicians,mean_difference_stay_vs_claim,patients_under_top_attending_physician,patients_under_top_operating_physician,mean_claim_amount,total_claim_amount,std_claim_amount,mean_age,count_of_males,count_of_females,count_of_black_people,count_of_white_people,count_of_hispanic_people,count_of_other_people,count_alzheimer,count_heartfailure,count_kidneydisease,count_cancer,count_obstrpulmonary,count_depression,count_diabetes,count_ischemicheart,count_osteoporasis,count_rheumatoidarthritis,count_stroke,count_renal_disease,mean_annual_inpatient_reimbursement,mean_annual_inpatient_deductible,mean_annual_outpatient_reimbursement,mean_annual_outpatient_deductible,count_inpatient,count_outpatient,claims_per_bene
0,PRV51001,0,24,25,0,1,7,1.200000,15.0,3,3.200000,0.120000,1.600000,0.0,0,0,4185.600000,104640,10796.091144,77.880000,9,16,4,21,0,0,15,19,17,5,10,9,21,23,6,8,6,8,17606.000000,897.120000,2615.200000,463.920000,5,20,1.041667
1,PRV51003,1,117,132,1,3,23,2.893939,28.0,26,5.250000,0.363636,1.530303,0.0,0,0,4588.409091,605670,7309.794729,69.083333,54,78,24,107,1,0,56,80,64,10,41,54,100,112,33,38,12,29,7568.181818,931.424242,2678.181818,737.121212,62,70,1.128205
2,PRV51004,0,138,149,1,9,28,0.000000,0.0,7,2.583893,0.000000,1.604027,0.0,0,0,350.134228,52170,689.963754,71.261745,46,103,24,120,0,5,64,88,50,16,41,63,105,108,49,46,17,23,4351.879195,434.953020,2194.899329,622.751678,0,149,1.079710
3,PRV51005,1,495,1165,4,4,26,0.000000,0.0,82,2.588841,0.000000,1.599142,0.0,0,0,241.124464,280910,491.556392,69.526180,511,654,262,893,0,10,426,680,507,165,295,485,799,895,344,331,124,259,3623.991416,379.162232,2109.733906,636.328755,0,1165,2.353535
4,PRV51007,0,58,72,1,2,6,0.263889,8.0,4,2.986111,0.013889,1.527778,0.0,0,0,468.194444,33710,1433.769116,68.305556,34,38,14,58,0,0,26,40,22,12,16,29,49,51,21,22,12,11,3050.000000,445.000000,1729.722222,469.722222,3,69,1.241379

In [77]:
train_provider.to_csv('./data/training_data.csv', index=False)

In [15]:
df = pd.read_csv("../data/processed/training_data.csv")

In [18]:
df.head()

,Provider,PotentialFraud,count_unique_beneficiary,count_unique_claims,count_dead_beneficiary,count_unique_states,count_unique_counties,mean_hospital_stay_days,max_hospital_stay_days,total_top_diagnosis_codes,mean_total_diagnosis,mean_total_procedures,mean_number_of_physicians,mean_difference_stay_vs_claim,patients_under_top_attending_physician,patients_under_top_operating_physician,mean_claim_amount,total_claim_amount,std_claim_amount,mean_age,count_of_males,count_of_females,count_of_black_people,count_of_white_people,count_of_hispanic_people,count_of_other_people,count_alzheimer,count_heartfailure,count_kidneydisease,count_cancer,count_obstrpulmonary,count_depression,count_diabetes,count_ischemicheart,count_osteoporasis,count_rheumatoidarthritis,count_stroke,count_renal_disease,mean_annual_inpatient_reimbursement,mean_annual_inpatient_deductible,mean_annual_outpatient_reimbursement,mean_annual_outpatient_deductible,count_inpatient,count_outpatient,claims_per_bene
0,PRV51001,0,24,25,0,1,7,1.200000,15.0,3,3.200000,0.120000,1.600000,0.0,0,0,4185.600000,104640,10796.091144,77.880000,9,16,4,21,0,0,15,19,17,5,10,9,21,23,6,8,6,8,17606.000000,897.120000,2615.200000,463.920000,5,20,1.041667
1,PRV51003,1,117,132,1,3,23,2.893939,28.0,26,5.250000,0.363636,1.530303,0.0,0,0,4588.409091,605670,7309.794729,69.083333,54,78,24,107,1,0,56,80,64,10,41,54,100,112,33,38,12,29,7568.181818,931.424242,2678.181818,737.121212,62,70,1.128205
2,PRV51004,0,138,149,1,9,28,0.000000,0.0,7,2.583893,0.000000,1.604027,0.0,0,0,350.134228,52170,689.963754,71.261745,46,103,24,120,0,5,64,88,50,16,41,63,105,108,49,46,17,23,4351.879195,434.953020,2194.899329,622.751678,0,149,1.079710
3,PRV51005,1,495,1165,4,4,26,0.000000,0.0,82,2.588841,0.000000,1.599142,0.0,0,0,241.124464,280910,491.556392,69.526180,511,654,262,893,0,10,426,680,507,165,295,485,799,895,344,331,124,259,3623.991416,379.162232,2109.733906,636.328755,0,1165,2.353535
4,PRV51007,0,58,72,1,2,6,0.263889,8.0,4,2.986111,0.013889,1.527778,0.0,0,0,468.194444,33710,1433.769116,68.305556,34,38,14,58,0,0,26,40,22,12,16,29,49,51,21,22,12,11,3050.000000,445.000000,1729.722222,469.722222,3,69,1.241379